[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
